# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# # RewriteRule resto               resto/index.php
# RewriteRule ^dashboard$ resto/dashboard/index.php [L]
# # RewriteRule index               resto/index.php